<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.anothertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarOverview" />
        <activity android:name=".logbookmodule.LogBook" />
        <activity android:name=".logbookmodule.AddClimb" />
        <activity android:name=".logbookmodule.gradepicker.ChildGradeHolder" />
        <activity android:name=".logbookmodule.gradepicker.ParentGradeHolder" />
        <activity android:name=".logbookmodule.ascentpicker.AscentHolder" />
        <activity android:name=".logbookmodule.AddWorkout" />
        <activity android:name=".logbookmodule.workoutpicker.ParentWorkoutHolder" />
        <activity android:name=".logbookmodule.workoutpicker.ChildWorkoutHolder" />
    </application>

</manifest>